<section class="bg-gray-100 py-24">
  <div class="container max-w-screen-xl">
    <header class="grid grid-cols-1 md:grid-cols-3 gap-x-8 md:gap-x-12 gap-y-4 mb-12">
      <h2 class="mb-0">Vad är bruset om?</h2>
      <p class="text-xl md:col-start-2 md:col-span-2">Den här idén brusades upp (pun intented) när vi insåg att efterfrågan på energidrycker är stor men att konsumenterna inte har ett mer kostnadseffektivt och miljövänligt alternativ att välja.</p> 
      <p class="text-xl md:col-start-2 md:col-span-2">Och låt oss vara ärliga, är det inte rätt lökigt att springa runt med massa pantburkar dag in och dag ut!?</p>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:gap-14">
      <div class="mb-12 md:mb-0">
        <div class="overflow-hidden bg-white shadow-md rounded-lg mb-8 -mx-4 md:-mx-2 ">
          {%- if section.settings.image_1 != blank -%}
            {{ section.settings.image_1 | image_url: width: 600 | image_tag:
              alt: 'Bild på flera Mandy Red Berries',
              class: 'rounded-xl shadow-xl mx-auto lg:mx-0',
              sizes: '(min-width:1023px) 600px,
                      (min-width:675px) 500px,
                      calc(100vw-2rem)',
              widths: '600, 500, 400',
              loading: 'lazy'
            }}
          {% else %}
            <div class="bg-gray-200 border border-gray-400 flex items-center justify-center rounded-lg">
              {{ 'image' | placeholder_svg_tag: '' }}
            </div>
          {%- endif -%}
        </div>
        <h3>Brustabletten</h3>
        <p class="text-lg mb-4">Den har en läskande smak av röda bär och är utformad att efterlikna de populära energidryckerna på marknaden. Brustabletten innehåller hela 200 mg koffein som kan ge en flygande start på din vardag och är berikad med vitaminer i syfte att bidra med minskad trötthet. Inte nog med det så är den också HELT sockerfri.</p>
        <a href="{{ routes.root_url }}products/mandy-red-berries" class="button primary small items-center inline-flex">
          Köp
          <svg aria-hidden="true" class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
      <div class="feature-2">
        <div class="overflow-hidden bg-white shadow-md rounded-lg mb-8 -mx-4 md:-mx-2 ">
          {%- if section.settings.image_2 != blank -%}
            {{ section.settings.image_2 | image_url: width: 600 | image_tag:
              alt: 'Bild på flera Mandy Red Berries',
              class: 'rounded-xl shadow-xl mx-auto lg:mx-0',
              sizes: '(min-width:1023px) 600px,
                      (min-width:675px) 500px,
                      calc(100vw-2rem)',
              widths: '600, 500, 400',
              loading: 'lazy',
              crop: 'center'
            }}
          {% else %}
            <div class="bg-gray-200 border border-gray-400 flex items-center justify-center rounded-lg">
              {{ 'image' | placeholder_svg_tag: '' }}
            </div>
          {%- endif -%}
        </div>
        <h3>Flaskan</h3>
        <p class="text-lg mb-4">Vad sa vi förut gällande pantburkarna? Juste, det är lökigt. Därför har vi designat och tagit fram en helt OTROLIG vattenflaska i glas som möjliggör att du kan konsumera en Mandy on the go. Befinner du dig mitt i karriären och det klassiska livspusslet? Fyll vår vattenflaska med vatten, släng i en Mandy, så känns livet förhoppningsvis lite enklare.</p>
        <a href="{{ routes.root_url }}products/flaskan" class="button primary small items-center inline-flex">
          Köp
          <svg aria-hidden="true" class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Features",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Bild 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Bild 2"
    }
  ]
}
{% endschema %}