<div class="py-4 md:py-10 max-w-screen-md mx-auto px-4">
  <h1 class="mb-0 text-lg md:text-2xl">Varukorg</h1>
</div>
<div class="bg-white pb-8 md:pt-10 md:py-22 md:px-4" data-ajax-cart-section>
  <div class="max-w-screen-md mx-auto">
    {% assign shipping_value = 15000 %}
    {% assign cart_total = cart.total_price %}
    {% assign shipping_value_left = shipping_value | minus: cart_total %}
    {%- if cart_total > shipping_value -%}
      <div class="rounded-lg py-5 px-4 bg-emerald-50 flex flex-col gap-y-4 mb-8">
        <h2 class="mb-0 normal-case">Hurra! 🎉</h2>
        <div class="flex w-full h-1.5 bg-emerald-700"></div>
        <p class="text-lg">Vi bjuder på frakten.</p>
        </div>
      </div>
    {%- else -%}
      <div class="rounded-lg py-5 px-4 bg-amber-50 flex flex-col gap-y-4 mb-8">
        <h2 class="mb-0 normal-case">Handla för {{ shipping_value_left | money }} till</h2>
        <div class="flex items-start w-full h-1.5 bg-gray-300">
          {% assign cart_total_float = cart_total | plus: 0.0 %}
          {% assign shipping_value_float = shipping_value | plus: 0.0 %}
          {% assign bar_width = cart_total_float | divided_by: shipping_value_float | times: 100 %}
          <div class="h-full bg-amber-400" style="width: {{ bar_width }}%"></div>
        </div>
        <p class="text-lg">så bjuder vi på frakten.</p>
        </div>
      </div>
    {%- endif -%}
    <div class="max-w-screen-md mx-auto px-4">
      <h2 class="text-base mb-0">Produkter ({{ cart.item_count }})</h2>
      <form action="{{ routes.cart_url }}" class="" method="post" id="cart">
        <div class="flex flex-col divide-y divide-gray-200">
          {%- if cart != empty -%}
            {%- for item in cart.items -%}
              <div class="relative flex flex-row bg-white py-5">
                {% if item.image %}
                  <a href="{{ item.url }}" class="mr-4 w-24 h-24 shrink-0" aria-hidden="true" tabindex="-1"> 
                    <img src="{{ item.image | image_url: height: 150, width: 150 }}"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="auto"
                      height="150"
                      width="150"
                      class="rounded-lg w-24 h-24"
                    >
                  </a>
                {% endif %}
                <div>
                  <a href="{{ item.url }}" class="font-fredoka-one text-slate-900">{{ item.product.title | escape }}</a>
                  <div>
                    {%- if item.original_price != item.final_price -%}
                      <div class="cart-item__discounted-prices">
                        <span class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </span>
                        <s class="cart-item__old-price product-option">
                          {{- item.original_price | money -}}
                        </s>
                        <span class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </span>
                        <strong class="cart-item__final-price product-option">
                          {{ item.final_price | money }}
                        </strong>
                      </div>
                    {%- else -%}
                      <div class="product-option">
                        {{ item.original_price | money }}
                      </div>
                    {%- endif -%}
                    {% if line_item.line_level_discount_allocations.size > 0 %}
                      <div>
                        <ul class="flex flex-row gap-3 pt-1">
                          {% for discount_allocation in line_item.line_level_discount_allocations %}
                            <li class="flex flex-row gap-2 items-center">
                              <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="20" fill="currentColor"><path d="M569.652 946.652Q545.304 971 511 971t-58.652-24.348l-343-343q-11.3-11.6-17.824-27.05Q85 561.152 85 545V264q0-34.244 24.378-58.622T168 181h281q16.62 0 31.299 5.837 14.679 5.837 27.081 18.208l343.272 343.064Q875 572.456 875 606.38t-24.348 58.272l-281 282ZM511.239 888l281-281L449 264H168v281l343.239 343ZM264 420q25 0 42.5-17.5T324 360q0-25-17.5-42.5T264 300q-25 0-42.5 17.5T204 360q0 25 17.5 42.5T264 420Zm-96-156Z"/></svg>
                              {{ discount_allocation.discount_application.title }} ({{ discount_allocation.amount | money }})
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                  <div class="flex flex-row flex-nowrap mt-4 items-center">
                    <a 
                      href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" 
                      class="rounded-full bg-primary-50 text-primary-700 h-8 w-8 flex items-center justify-center hover:bg-primary-100 active:bg-primary-300"
                      data-ajax-cart-request-button
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24" fill="currentColor"><path d="M240 621.5q-19.152 0-32.326-13.174T194.5 576q0-19.152 13.174-32.326T240 530.5h480q19.152 0 32.326 13.174T765.5 576q0 19.152-13.174 32.326T720 621.5H240Z"/></svg>
                    </a>
                    <span class="px-4">{{ item.quantity }}</span>
                    
                    <a 
                      href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" 
                      class="rounded-full bg-primary-50 text-primary-700 h-8 w-8 flex items-center justify-center hover:bg-primary-100 active:bg-primary-300"
                      data-ajax-cart-request-button
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24" fill="currentColor"><path d="M480 861.5q-19.152 0-32.326-13.174T434.5 816V621.5H240q-19.152 0-32.326-13.174T194.5 576q0-19.152 13.174-32.326T240 530.5h194.5V336q0-19.152 13.174-32.326T480 290.5q19.152 0 32.326 13.174T525.5 336v194.5H720q19.152 0 32.326 13.174T765.5 576q0 19.152-13.174 32.326T720 621.5H525.5V816q0 19.152-13.174 32.326T480 861.5Z"/></svg>
                    </a>
                  </div>
                  <div data-ajax-cart-messages="{{ item.key }}"></div>
                </div>
                <div class="absolute right-0 bottom-4 font-fredoka-one text-slate-900">
                  {%- if item.original_line_price != item.final_line_price -%}
                    <dl class="cart-item__discounted-prices">
                      <dt class="visually-hidden">
                        {{ 'products.product.price.regular_price' | t }}
                      </dt>
                      <dd>
                        <s class="cart-item__old-price price price--end">
                          {{ item.original_line_price | money }}
                        </s>
                      </dd>
                      <dt class="visually-hidden">
                        {{ 'products.product.price.sale_price' | t }}
                      </dt>
                      <dd class="price price--end">
                        {{ item.final_line_price | money }}
                      </dd>
                    </dl>
                  {%- else -%}
                    <span class="price price--end">
                      {{ item.original_line_price | money }}
                    </span>
                  {%- endif -%}
                </div> 
              </div>
            {%- endfor -%}
          {%- else -%}
            <span class="pt-12">{{ 'sections.cart.empty' | t }}</span>
          {%- endif -%}
          <p class="inline-flex flex-row gap-2 px-2 py-2 bg-gray-100 rounded text-sm w-auto border border-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="20" fill="currentColor"><path d="M569.652 946.652Q545.304 971 511 971t-58.652-24.348l-343-343q-11.3-11.6-17.824-27.05Q85 561.152 85 545V264q0-34.244 24.378-58.622T168 181h281q16.62 0 31.299 5.837 14.679 5.837 27.081 18.208l343.272 343.064Q875 572.456 875 606.38t-24.348 58.272l-281 282ZM511.239 888l281-281L449 264H168v281l343.239 343ZM264 420q25 0 42.5-17.5T324 360q0-25-17.5-42.5T264 300q-25 0-42.5 17.5T204 360q0 25 17.5 42.5T264 420Zm-96-156Z"/></svg>
            Rabattkod anges i nästa steg.
          </p>
        </div>
    </div>
  </div>
</div>
<div class="bg-white w-full h-4" style="
  --mask: 
    radial-gradient(6px at 75% 100%,#0000 98%,#000) 50% calc(100% - 6px)/24px 100% repeat-x,
    radial-gradient(6px at 25% 50%,#000 99%,#0000 101%) bottom/24px 12px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);">
</div>