<section id="section-{{ section.id }}" class="pt-14 sm:pt-10 lg:pt-20 pb-10 sm:pb-6 lg:pb-16 px-8">
    
    <div class='grid grid-cols-6 items-stretch grid-flow-row max-w-screen-xl mx-auto gap-8'>
    
        <h2 class='col-span-6 max-w-xs sm:max-w-screen-xl px-8 mx-auto mb-0 text-slate-900 font-bold text-4xl w-full'>{{ section.settings.title }}</h2>
        {%- if section.settings.sub-title != blank -%}
            <p class='col-span-6 max-w-xs sm:max-w-screen-xl px-8 mx-auto mb-4 sm:mb-6 text-gray text-lg lg:text-xl w-full'>{{ section.settings.sub-title }}</h2>
        {% endif %}

        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'section-tile-full' %}
                    <div class='section-tile-full col-span-6 max-w-xs sm:max-w-screen-xl mx-auto bg-white drop-shadow-2xl rounded-3xl' {{ block.shopify_attributes }}>
                        <div class='bg-white overflow-hidden rounded-3xl grid grid-cols-1 md:grid-rows-1 md:grid-cols-2 items-start'>
                            <div class='max-w-xs mx-auto py-12 px-8 sm:max-w-none'>
                                {%- if block.settings.badge != blank -%}
                                    <span class='inline-block rounded-full border-primary-700 border text-primary-700 py-1.5 px-4 mb-4'>{{ block.settings.badge }}</span>
                                {% endif %}
                                <h3 class='mb-2'>{{ block.settings.title }}</h3>
                                <div class='with-rich-text'>
                                    {{ block.settings.text }}
                                </div>
                                {%- if block.settings.cta-url != blank -%}
                                    <a href="{{ block.settings.cta-url }}" class='text-primary-700 hover:underline cursor-pointer'>{{ block.settings.cta-text }}</a>
                                {% endif %}  
                            </div>
                            {%- if block.settings.image != blank -%}
                                {{ block.settings.image | image_url: width: 640 | image_tag:
                                    class: 'aspect-square sm:aspect-auto sm:h-full sm:min-h-[280px] md:min-h-[352px] lg:min-h-[480px] xl:min-h-[640px]',
                                    sizes: '(min-width:1024px) 640px,
                                            (min-width:768px) 480px,
                                            (min-width:640px) 352px,
                                            calc(100vw-2rem)',
                                    widths: '640, 480, 352, 280'
                                }}
                            {% else %}
                                <div class="aspect-square sm:aspect-auto sm:h-full sm:min-h-[280px] md:min-h-[352px] lg:min-h-[480px] xl:min-h-[640px] bg-gray-200 inline-flex items-center justify-center">
                                    {{ 'image' | placeholder_svg_tag: 'w-full h-full' }}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                {% when 'section-tile-half' %}
                    <div class='section-tile-half col-span-6 sm:col-span-3 max-w-xs sm:max-w-none mx-auto bg-white drop-shadow-2xl rounded-3xl' {{ block.shopify_attributes }}>
                        <div class='bg-white rounded-3xl overflow-hidden h-full flex flex-col'>
                          <div class='max-w-xs mx-auto py-12 px-8 sm:max-w-none self-stretch'>
                            {%- if block.settings.badge != blank -%}
                                <span class='inline-block rounded-full border-primary-700 border text-primary-700 py-1.5 px-4 mb-4'>{{ block.settings.badge }}</span>
                            {% endif %}
                            <h3 class='mb-2'>{{ block.settings.title }}</h3>
                            <div class='with-rich-text'>
                                {{ block.settings.text }}
                            </div>
                            {%- if block.settings.cta-url != blank -%}
                                <a href="{{ block.settings.cta-url }}" class='text-primary-700 hover:underline cursor-pointer'>{{ block.settings.cta-text }}</a>
                            {% endif %}  
                        </div>
                        {%- if block.settings.image != blank -%}
                            {{ block.settings.image | image_url: width: 640 | image_tag:
                                class: 'aspect-square sm:aspect-auto sm:h-full sm:min-h-[280px] md:min-h-[352px] lg:min-h-[480px] xl:min-h-[640px]',
                                sizes: '(min-width:1024px) 640px,
                                        (min-width:768px) 480px,
                                        (min-width:640px) 352px,
                                        calc(100vw-2rem)',
                                widths: '640, 480, 352, 280'
                            }}
                        {% else %}
                            <div class="aspect-square sm:aspect-auto sm:h-full sm:min-h-[280px] md:min-h-[352px] lg:min-h-[480px] xl:min-h-[640px] bg-gray-200 inline-flex items-center justify-center">
                                {{ 'image' | placeholder_svg_tag: 'w-full h-full' }}
                            </div>
                        {%- endif -%}
                        </div>
                    </div>
                {% when 'section-tile-third' %}
                    <div class='section-tile-third col-span-6 md:col-span-2 max-w-xs sm:max-w-none mx-auto bg-white drop-shadow-2xl rounded-3xl' {{ block.shopify_attributes }}>
                        <div class='bg-white rounded-3xl overflow-hidden h-full flex flex-col'> 
                          <div class='max-w-xs mx-auto py-12 px-8 sm:max-w-none self-stretch'>
                            {%- if block.settings.badge != blank -%}
                                <span class='inline-block rounded-full border-primary-700 border text-primary-700 py-1.5 px-4 mb-4'>{{ block.settings.badge }}</span>
                            {% endif %}
                            <h3 class='mb-2'>{{ block.settings.title }}</h3>
                            <div class='with-rich-text'>
                                {{ block.settings.text }}
                            </div>
                            {%- if block.settings.cta-url != blank -%}
                                <a href="{{ block.settings.cta-url }}" class='text-primary-700 hover:underline cursor-pointer'>{{ block.settings.cta-text }}</a>
                            {% endif %}  
                          </div>
                          {%- if block.settings.image != blank -%}
                            {{ block.settings.image | image_url: width: 405 | image_tag:
                                class: 'aspect-square sm:aspect-auto sm:h-full sm:min-h-[280px] md:min-h-[213px] lg:min-h-[290px] xl:min-h-[405px]',
                                sizes: '(min-width:1280px) 405px,
                                        (min-width:1024px) 290px,
                                        (min-width:768px) 213px,
                                        (min-width:640px) 280px,
                                        calc(100vw-2rem)',
                                widths: '405, 290, 213, 280'
                            }}
                        {% else %}
                            <div class="aspect-square sm:aspect-auto sm:h-full sm:min-h-[280px] md:min-h-[213px] lg:min-h-[290px] xl:min-h-[405px] bg-gray-200 inline-flex items-center justify-center">
                                {{ 'image' | placeholder_svg_tag: 'w-full h-full' }}
                            </div>
                        {%- endif -%}
                        </div>
                    </div>
            {% endcase %}
        {% endfor %}
    </div>


</section>
{% schema %}
{
    "name": "Mandy section",
    "tag": "section",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "H2 rubrik for section"
    },
    {
        "type": "text",
        "id": "sub-title",
        "label": "Ingress for section"
    }
    ],
    "max_blocks": 6,
    "blocks": [
        {
        "name": "Mandy section tile full",
        "type": "section-tile-full",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "H3 rubrik for tile"
            },
            {
            "type": "text",
            "id": "badge",
            "label": "Badge for tile"
            },
            {
            "type": "richtext",
            "id": "text",
            "label": "Innehall for tile"
            },
            {
            "type": "text",
            "id": "cta-text",
            "label": "Call-to-action text"
            },
            {
            "type": "text",
            "id": "cta-url",
            "label": "Call-to-action url"
            },
            {
            "type": "image_picker",
            "id": "image",
            "label": "Bild (ratio 1 x 1) for tile"
            }
        ]
        },
        {
        "name": "Mandy section tile half",
        "type": "section-tile-half",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "H3 rubrik for tile"
            },
            {
            "type": "text",
            "id": "badge",
            "label": "Badge for tile"
            },
            {
            "type": "richtext",
            "id": "text",
            "label": "Innehall for tile"
            },
            {
            "type": "text",
            "id": "cta-text",
            "label": "Call-to-action text"
            },
            {
            "type": "text",
            "id": "cta-url",
            "label": "Call-to-action url"
            },
            {
            "type": "image_picker",
            "id": "image",
            "label": "Bild (ratio 1 x 1) for tile"
            }
        ]
        },
        {
        "name": "Mandy section tile third",
        "type": "section-tile-third",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "H3 rubrik for tile"
            },
            {
            "type": "text",
            "id": "badge",
            "label": "Badge for tile"
            },
            {
            "type": "richtext",
            "id": "text",
            "label": "Innehall for tile"
            },
            {
            "type": "text",
            "id": "cta-text",
            "label": "Call-to-action text"
            },
            {
            "type": "text",
            "id": "cta-url",
            "label": "Call-to-action url"
            },
            {
            "type": "image_picker",
            "id": "image",
            "label": "Bild (ratio 1 x 1) for tile"
            }
        ]
        }
    ],
    "presets": [
    {
        "name": "Mandy section",
        "settings": {
            "title": "Det har ar en Mandy section",
            "sub-title": "Det har ar plats for en ingress till sectionen."
        },
        "blocks": [
        {
            "type": "section-tile-full"
        },
        {
            "type": "section-tile-half"
        },
        {
            "type": "section-tile-half"
        },
        {
            "type": "section-tile-third"
        },
        {
            "type": "section-tile-third"
        },
        {
            "type": "section-tile-third"
        }
        ]
    }
    ]
}
{% endschema %}
    