{% javascript %}
    // Listen for clicks
    document.addEventListener('click', function (event) {
        
        // Bail if not accordion toggler
        if (!event.target.classList.contains('accordion-toggle-button')) return;

        // Get the targeted panel
        var panel = document.getElementById(event.target.getAttribute('aria-controls'));
        
        // The magic
        if (panel.classList.contains('block')) {

            // Hide
            panel.classList.remove('block');
            panel.classList.add('hidden');
            panel.setAttribute('aria-expanded', 'false');

            event.target.classList.remove('active');
 
            return;

        } else {

            // Show
            panel.classList.remove('hidden');
            panel.classList.add('block');
            panel.setAttribute('aria-expanded', 'true');

            event.target.classList.add('active');

            return;

        }

    })
{% endjavascript %}

{%- style -%}
  .active .arrow {
    transform: rotate(90deg);
  }
{%- endstyle -%}

<section id="section-{{ section.id }}" class='pt-14 sm:pt-10 lg:pt-20 pb-10 sm:pb-6 lg:pb-16 px-8'>
  <div class='grid grid-cols-2 grid-flow-row max-w-screen-xl mx-auto gap-8'>
    <h2 class='col-span-2 max-w-xs sm:max-w-screen-xl px-8 mx-auto mb-4 sm:mb-6 text-slate-900 font-bold text-4xl w-full'>{{ section.settings.title }}</h2>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'q-and-a' %}
            <div class='col-span-2 lg:col-span-1 max-w-xs sm:max-w-none mx-auto w-full' {{ block.shopify_attributes }}>
              <div class='bg-white drop-shadow-2xl rounded-3xl w-full flex flex-col'>
                <div class='max-w-xs pt-10 pb-8 px-8 sm:max-w-none w-full'>
                  <h3 class='font-medium text-black mb-2 flex'>
                    <button class="accordion-toggle-button w-full flex justify-between text-left" aria-controls="accordion-panel-{{ block.id }}">
                      {{ block.settings.question }}
                      <span class="abslute r-4 t-6 arrow pointer-events-none">></span>
                    </button>
                  </h3>
                  <div id="accordion-panel-{{ block.id }}" class="accordion-panel with-rich-text hidden" aria-expanded="false">
                    {{ block.settings.answer }}
                </div>
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Mandy FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "H2 titel"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Ingress under titel"
    }
  ],
  "max_blocks": 10,
  "blocks": [
     {
       "name": "Fraga & svar",
       "type": "q-and-a",
       "settings": [
         {
           "type": "text",
           "id": "question",
           "label": "Fraga"
         },
         {
            "type": "text",
            "id": "answer",
            "label": "Svar"
          }
       ]
     }
   ],
   "presets": [
    {
      "name": "Mandy FAQ",
      "settings": {
        "title": "Vanliga fragor och svar"
      },
      "blocks": [
        {
          "type": "q-and-a",
          "settings": {
            "question": "Funkar det har verkligen?",
            "answer": "Jajamen!"
          }
        },
        {
          "type": "q-and-a",
          "settings": {
            "question": "Funkar det har verkligen pa riktigt?",
            "answer": "Jajamen gg tva!"
          }
        }
      ]
    }
  ]
}
{% endschema %}