<style>
.use-list {
  scrollbar-color: #075156 #ffd170;
}
.use-list::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
  background: #ffd170;
}
.use-list::-webkit-scrollbar-thumb { /* Foreground */
  background: #075156;
}
.use-list::-webkit-scrollbar-track { /* Background */
  background: #ffd170;
}
</style>

<section id="Uses-{{ section.id }}" class="py-20">
  <div class="container">
    <header class="max-w-lg mx-auto text-center mb-8">
      <h2>{{ section.settings.title }}</h2>
      <p class="text-xl">{{ section.settings.text }}</p>
    </header>
    <div class="use-list flex flex-row flex-nowrap overflow-y-hidden overflow-x-scroll gap-2 pb-4">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'use' %}
            <div class="shrink-0 w-72 rounded-lg overflow-hidden" {{ block.shopify_attributes }}>
              {{ block.settings.image | image_url: width: 288 | image_tag:
                height: '432',
                widths: '288',
                loading: 'lazy'
              }}
            </div>
        {% endcase %}
      {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Uses",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titel"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Ingress under titel"
    }
  ],
  "max_blocks": 9,
  "blocks": [
     {
       "name": "Use",
       "type": "use",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Bild"
         }
       ]
     }
   ],
   "presets": [
    {
      "name": "Uses",
      "settings": {
        "title": "Uses"
      },
      "blocks": [
        {
          "type": "use"
        },
        {
          "type": "use"
        }
      ]
    }
  ]
}
{% endschema %}
